nextflow.enable.moduleBinaries = true

process {
    executor       = "local"
    resourceLimits = [cpus: 1, memory: 16.GB, time: 5.d]

    cpus           = { 1 }
    memory         = { 16.GB }
    time           = { 1.d }
}
nextflow.enable.moduleBinaries = true

// Preform work directory cleanup after a successful run
cleanup = true

// Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
profiles {
    mydebug {
        cleanup = false
    }
    // add argument -stub to nextflow command
    stubrun {
        cleanup        = false
        stubRun        = true
        process.memory = '1 GB'
        process.cpus   = 1
    }
    debug {
        cleanup = false
    }
    apptainer {
        process {
            container = "<path-to-spotlight.sif>"
            withLabel: rcontainer {
                container = "<path-to-immunedeconvr.sif>"
            }
        }
    }

    slurm {
        process {
            executor       = "slurm"
            jobName        = { "${task.hash}" }
            // Select right queue
            queue          = { task.memory }
            // resourceLimits = [ cpus: 24, memory: 184.GB, time: 5.d]
            resourceLimits = [cpus: 8, memory: 184.GB, time: 5.d]
        }
    }
}
}